body{
    width: 98%;
    text-align: center;
}

.ta-center
{
    text-align: center;
}

.w-100
{
    width: 100%;
}

.bg-1
{
    background-color: blueviolet;
}

.bg-2
{
    background-color: royalblue
}



.border
{
    border-color: coral;
    border-collapse: collapse;
}


.table
{
    border-collapse: collapse;
    margin: auto;
}

.p-20
{
    padding: 20px;
}

.p-40
{
    padding: 60px;
}

.pd-5
{
    vertical-align: baseline;
    padding: 10px;
}

.heading
{
    font-size: medium;
    font-weight: 600;
}

.bg-color
{
    background-color: aqua;
}

.no-margin
{
    margin: 0px;
    padding: 0px;
}


.iframesize
{
    width: 100%;
    height: auto;
}

.h-100
{
    height: 100%;
}
.w-90
{
    width: 90%;
}

.option-box
{
    margin-top: 30px;
    overflow-x: auto;
    overflow-y: auto;
    text-align:justify;
}

.fixed
{
    position: fixed;
}


.main-heading
{
    font-size: x-large;
    font-weight: 600;
}


.va-1
{
    background-color: #a6ffda;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.va-0
{
    background-color: #ffa6a6;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fw-600
{
    font-weight: 600;
}

.max-height
{
    margin: 0;
    position: relative; /* needed for footer positioning*/
    height: 1px !important; /* real browsers */
    min-height: 100%; /* real browsers */
}

.col-sm-3
{
    padding-right: 10px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}




#over 
{ 
    font-size:16px;
    font-weight: 600;
    position:absolute;
    background-color: #ff6c6c;
    padding: 10px;
    top:20px; 
    font-family: monospace;
    border-radius: 5px;
    left:10px; 
    z-index:2 
}


.mp-0
{
    margin: 0px;
    padding: 0px;
}
